body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

/* Styles for the navbar */
#nav_bar .navbar {
    background-color: #343a40;
}

#nav_bar .navbar-brand h1 {
    font-size: 2rem;
}

.navbar-nav a {
    margin-left: auto;
}

/* Styles for the introduction section */
#introduction {
    margin-top: 5em;
}

#introduction #writing_title {
    text-align: center;
}

#introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the footer */
#footer {
    background-color: #343a40;
    padding: 1rem 0;
    margin-top: 2.5rem;
}

.typed {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 4vh;
    font-weight: bold;
}

.title_section {
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 4vh;
    font-weight: bold;
}

#footer svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

#text_for_app_contact {
    display: inline;
}

#mePicture {
    max-width: 250px;
  }


.custom-dropdown {
    height: 38px; /* Ajusta según sea necesario */
    padding: .375rem .75rem; /* Estos son los valores predeterminados de Bootstrap para los inputs */
    vertical-align: middle; /* Alinea el texto y el icono del botón verticalmente en el centro */
}

.contact_me{
    font-size: 2em;
    font-family: 'Fasthand', cursive;
    color:white;
    margin-bottom: 0.5rem;
  }

.icon{
    width: 65%;
}